.card {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.paragraf {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: gold;
}
.img{
    width: 100%;
    margin: auto;
}